lib
¦s
__Visual Studio Code.lnk
C:\Users\pappl\Google Drive\³õ¥~¥Î\Brython\AHK Script\_Google Chrome.lnk
C:\Users\pappl\Google Drive\³õ¥~¥Î\Brython\AHK Script\_°O¨Æ¥».lnk
C:\Users\pappl\Google Drive\³õ¥~¥Î\Brython\AHK Script\KeyWaitHotkey().txt
C:\Users\pappl\Google Drive\³õ¥~¥Î\Brython\AHK Script\z_AHK note.txt